extends layout

block content
  h1= title

  table(class='table table-hover')
    caption Portfolio
    tr
      th Symbol
      th Company
      th Price
      th Qty.
    tr
      th AAPL
      th Apple
      th $15.00
      th 50
